$palette-0: #000;
$palette-1: #333;
$palette-1-rgb: 51, 51, 51;
$palette-2: #fff;
$palette-2-rgb: 0, 0, 0;
$palette-3: #bdbdbd;
$palette-4: #f8f8f8;
$palette-5: #979797;
$palette-6: #fafafa;
$palette-7: #f5f5f5;
$palette-8: #a0a0a0;
$palette-9: #eadecf;
$palette-10: #524030;
$palette-11: #1c1814;
$palette-12: #7f7f7f;
$palette-13: #dadada;
$palette-14: #a3a3a3;
$palette-15: #c1c1c1;
$palette-16: #727272;
$palette-17: #666;
$palette-18: #999;
$palette-19: #ef9520;
$palette-20: #383838;
$palette-21: #fedf72;
$palette-22: #8d8982;
$palette-23: #c4c4c4;
$palette-24: #276eed;
$palette-25: #ddd;
$palette-26: #eee;
$palette-27: #4f4f4f;
$palette-28: #ececec;
$palette-29: #f3f4f6;
$palette-30: #fafafa;
$palette-31: #4888f5;
$palette-32: #f6f8fd;
$palette-33: #f2c94c;
$palette-34: #333b46;
$palette-35: #e5e5e5;

// color-step
$color-step-50: #1e1e1e;
$color-step-100: #2a2a2a;
$color-step-150: #363636;
$color-step-200: #414141;
$color-step-250: #4d4d4d;
$color-step-300: #595959;
$color-step-350: #656565;
$color-step-400: #717171;
$color-step-450: #7d7d7d;
$color-step-500: #898989;
$color-step-550: #949494;
$color-step-600: #a0a0a0;
$color-step-650: #acacac;
$color-step-700: #b8b8b8;
$color-step-750: #c4c4c4;
$color-step-800: #d0d0d0;
$color-step-850: #dbdbdb;
$color-step-900: #e7e7e7;
$color-step-950: #f3f3f3;
